bibsonomy-openaccess/src/main/resources/puma-sword.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://puma.uni-kassel.de/2010/11/PUMA-SWORD"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:puma="http://puma.uni-kassel.de/2010/11/PUMA-SWORD"
	xmlns:bib="http://www.bibsonomy.org/2010/11/BibSonomy"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

	<xsd:import
		schemaLocation="../../../../bibsonomy-model/src/main/resources/xschema.xsd"
		namespace="http://www.bibsonomy.org/2010/11/BibSonomy"></xsd:import>
	<xsd:import schemaLocation="mets.xsd" namespace="http://www.loc.gov/METS/"></xsd:import>

	<xsd:element name="PumaPostType" xmlns:puma="http://puma.uni-kassel.de/2010/11/PUMA-SWORD">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="bib:PostType" >
					<xsd:attribute name="xDescription" type="xsd:string" />	
					<xsd:attribute name="xPostingdate" type="xsd:dateTime" />				
					<xsd:attribute name="xISBN" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="xISSN" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="xDOI" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="xLocation" type="xsd:string"></xsd:attribute>
					<xsd:attribute name="xDCC" type="xsd:string"></xsd:attribute>
				</xsd:extension>				
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>